{%extends "layout.html"%}
{%set active_page="about"%}

  {% block title%}about{%endblock%}

    {% block content%}
<h1> About the Publisher Data </h1>

<p class="abt-p"> This data contains information about Amazon's ebooks. Some of this information is the genre of the book,
 the publisher, the book's rank, the book's revenue. This web page only focuses 2015 data. The data was created in 2015 and records 54,000 ebooks, 
 therefore, some recent ebook data may be missing from this web page. The data used in this web app comes 
 from the CORGIS Dataset Project, it can be reached  <a href="https://think.cs.vt.edu/corgis/json/publishers/publishers.html">here</a> and <a href="http://authorearnings.com/report/september-2015-author-earnings-report/"> here.</a></p>

<p class="abt-p"> Each book has its own set of data, but in that set there is not the book's title or the author.
 Instead it is organized by five categories, genre, publisher, sold by, statistics, and daily. 
 Statistics has sub-categories, they are sales rank, sale price, total reviews, and average rating. 
 Daily also has sub-categories, they are publisher revenue, amazon revenue, author revenue, units sold, and gross sales.</p>

    {%endblock%}
