
{%extends "layout.html"%}
{%set active_page="Graph"%}

{% block title%}Graph{%endblock%}

    {% block content%}
 <h1>Genres as Pie Graph</h1>

<body>
   
<html>
<head>
<script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Genres of Books"
	},
	data: [{
		type: "pie",
		startAngle: 25,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabelFontSize: 16,
		indexLabel: "{label} - {y}%",
		dataPoints: [{{data|safe }}]
	}]
});
chart.render();

}
</script>
</head>
<body>
<div  class="center-div" id="chartContainer" style="height: 300px; width: 50%;"></div>



<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<p class="abt-p"> The date in the json file is organized in different ways one is by the book's genre. There are six different genres, they are shown in the graph, above. </p>
</body>
</html>
         
</body>
    {%endblock%}


    

