{%extends "layout.html"%}
{%set active_page="rank"%}

{% block title%}rank{%endblock%}

    {% block content%}
 <h1>Data by Book Rank</h1>

<body>
    <form action="/rank">
      <select name="rank">
       {{options}}
       
      </select>
      <br><br>
      <input type="submit">
    </form>
    
    <img src=" {{url_for('static',filename='amazon.jpg')}}" alt="hi  ">
    <br><br>
    <img src="{{url_for('static',filename='logo.png')}}" alt="Italian ">
    <br><br>
    <img src="{{url_for('static',filename='stack.jpg')}}" alt="Trulli"> 
    <br><br>
    {{fact}}
    
  
</body>
    {%endblock%}
